.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 30px 50px;
}
.price{
    color: #FF136F;
}
.button-buy{
    background-image: linear-gradient(to bottom ,#FF5898 0% ,#ff136f 100%);
    color:#fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    margin-top:10px;
}
.price{
    color: #FF136F;
}
.button-buy{
    background-image: linear-gradient(to bottom ,#FF5898 0% ,#ff136f 100%);
    color:#fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    margin-top:10px;
}
